@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,600,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: "Arial-Bold";
  font-display: swap;
  src: url("../fonts/Arial-BoldMT.woff2") format("woff2"), url("../fonts/Arial-BoldMT.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  font-display: swap;
  src: url("../fonts/ArialMT.woff2") format("woff2"), url("../fonts/ArialMT.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=icon-]:before {
  display: block;
}

.icon-seeds:before {
  content: "\e900";
}

.icon-leaf-logo:before {
  content: "\e901";
}

.icon-like:before {
  content: "\e902";
}

.icon-log-out:before {
  content: "\e903";
}

.icon-menu-close:before {
  content: "\e904";
}

.icon-menu-open:before {
  content: "\e905";
}

.icon-search:before {
  content: "\e906";
}

.icon-shopping-cart:before {
  content: "\e907";
}

.icon-sapling:before {
  content: "\e908";
}

.icon-fertilizer:before {
  content: "\e909";
}

.icon-trees:before {
  content: "\e90a";
}

.icon-farmer:before {
  content: "\e90b";
}

.icon-phone:before {
  content: "\e90c";
}

.icon-arrow:before {
  content: "\e90d";
}

.icon-arrow-down:before {
  content: "\e90e";
}

.icon-comparison:before {
  content: "\e90f";
}

.icon-email:before {
  content: "\e910";
}

:root {
  --primary: #0a9396;
  --secondary: #94d2bd;
  --accent: #8C3213;
  --inverse: #E84E0F;
  --bg-primary: #21603F;
  --bg-secondary: #347153;
  --bg-accent: #8D3200;
  --bg-inverse: #E84E0F;
  --text-primary: rgba(0, 0, 0);
  --text-secondary: rgba(255, 255, 255);
  --text-accent: #84BE51;
  --text-title: #1E6140;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--text-primary);
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #F8F8F8;
  max-width: 1920px;
  margin: 0 auto;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.radius-icon {
  display: inline-block;
  color: var(--accent);
  min-width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid var(--accent);
  position: relative;
}

.radius-icon::before {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.call-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.375rem;
  font-weight: 400;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.call-back__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.call-back__content > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call-back__content > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.call-back__content > button > i {
  font-size: 0.8125rem;
  color: var(--text-accent);
}

.call-back__button {
  color: var(--text-accent);
  font-size: 0.875rem;
  line-height: 1.2142857143;
  font-weight: 700;
}

.call-back__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  gap: 6px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  padding: 10px 5px;
  border-radius: 20px;
  position: absolute;
  top: -10px;
  left: -5px;
  min-width: 290px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.call-back__more > .call-back__content > a {
  padding-top: 10px;
}

.navigation-button {
  position: fixed;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  background-color: var(--text-accent);
  color: #fff;
  width: 10.3125rem;
  min-height: 4.0625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border-radius: 0 30px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.45s;
  transition: 0.45s;
}

.navigation-button > i {
  padding: 20px;
}

.navigation-button--active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.45s;
  transition: 0.45s;
}

.text-content {
  padding-left: 25px;
  max-width: 560px;
}

.text-content > h1 {
  color: var(--text-primary);
  font-size: 3.4375rem;
  font-weight: 300;
  line-height: 1.2181818182;
  margin-bottom: 1.875rem;
}

.text-content > h1 > span {
  font-weight: 700;
}

.text-content > h1 > i {
  margin-left: -25px;
  font-size: 1.5625rem;
  color: var(--text-accent);
  display: inline-block;
}

.text-content > p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.125rem;
  line-height: 1.2222222222;
  margin-bottom: 1.5625rem;
}

.text-content > p > span {
  color: var(--text-title);
  font-weight: 700;
  line-height: 1.25;
}

.text-content__button {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  line-height: 1.25;
  padding: 15px 50px;
  background: var(--bg-inverse);
  border-radius: 300px;
  border: 1px solid var(--bg-inverse);
}

[class*=__title] {
  color: #000;
  font-size: 2.8125rem;
  font-weight: 700;
  line-height: 1.2222222222;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 255px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  padding-bottom: 15px;
}

.product-item__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.product-item > i {
  display: inline-block;
  color: var(--accent);
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
}

.product-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 200px;
  padding: 30px 0;
}

.product-item__characteristics {
  border-radius: 20px;
  background: rgba(140, 50, 19, 0.06);
  padding: 20px;
}

.product-item__characteristics-title {
  margin-bottom: 1.25rem;
}

.product-item__characteristics-title > h4 {
  color: var(--text-primary);
  font-weight: 600;
  line-height: 1.25;
}

.product-item__characteristics-title > p {
  color: var(--text-title);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2142857143;
}

.product-item__characteristics-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  z-index: 2;
}

.product-item__characteristics-price > p {
  color: var(--text-primary);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2142857143;
}

.product-item__characteristics-price > p > span {
  color: var(--text-accent);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2222222222;
}

.product-item__cart-wrap > i {
  border: 0;
  background-color: #fff;
}

.menu__log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  color: var(--text-secondary);
  font-weight: 300;
  line-height: 1.25;
  padding: 0.6875rem 0.625rem;
}

.menu__log > i {
  color: var(--text-accent);
}

.menu__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
  line-height: 1.25;
}

.menu__body > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 74.6153846154%;
          flex: 1 1 74.6153846154%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 3.125rem;
  margin-right: 3.125rem;
}

.menu__body > ul > li {
  position: relative;
  color: var(--text-secondary);
  padding: 0.6875rem 0.625rem;
  cursor: pointer;
}

.menu__body > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  font-size: 16px;
}

.menu__body > ul > li > a > i {
  font-size: 0.8125rem;
  color: var(--text-accent);
}

.menu__body > ul > li > ul {
  display: none;
}

.menu__body > ul::after {
  content: "";
  display: block;
  width: 0.0625rem;
  min-height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  right: 0;
}

.menu__icon {
  display: none;
  font-size: 1.25rem;
  color: var(--text-accent);
}

.menu__icon .icon-menu-close::before {
  display: none;
}

.menu__icon .icon-menu-open::before {
  display: block;
}

.menu-open .menu__body > ul {
  visibility: visible;
  right: 0;
  background-color: var(--bg-primary);
}

.menu-open .icon-menu-close::before {
  display: block;
}

.menu-open .icon-menu-open::before {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: radial-gradient(50% 50% at 100% 50%, rgba(231, 78, 19, 0.1) 0%, rgba(231, 78, 19, 0) 100%);
  z-index: 30;
}

.header__nav {
  background-color: var(--bg-primary);
}

.header__comunications {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.8) 100%);
  padding: 0.9375rem 0;
}

.header__comunications-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__search {
  display: inline-block;
  position: relative;
}

.header__search::after {
  content: "";
  display: block;
  width: 0.0625rem;
  min-height: 70%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 15%;
  right: 51px;
}

.header__search > input {
  padding: 10px 60px 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.header__search > input:focus-visible {
  outline: none;
}

.header__search > button {
  position: absolute;
  right: 1.25rem;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  color: var(--text-accent);
}

.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  cursor: pointer;
}

.header__cart-wrap {
  position: relative;
  display: inline-block;
}

.header__cart-wrap .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  font-size: 0.625rem;
  top: 0;
  right: 0;
  -webkit-transform: translate(0%, -15%);
      -ms-transform: translate(0%, -15%);
          transform: translate(0%, -15%);
  color: #fff;
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: var(--text-accent);
  border-radius: 50%;
  z-index: 1;
}

.header__cart-price {
  color: #000;
  font-size: 0.75rem;
  font-weight: 700;
  margin-left: -8px;
}

.header__links {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.01)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.01) 100%);
  padding-bottom: 0.9375rem;
}

.header__links-wrap {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 210px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__links-wrap > a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  padding: 8px 20px;
  border-radius: 1.875rem;
  border: 1px solid var(--text-title);
  font-size: 0.875rem;
  line-height: 1.0714285714;
  font-weight: 600;
  text-transform: uppercase;
}

.header__links-wrap > a > i {
  color: var(--text-accent);
  font-size: 1.5rem;
}

.footer {
  position: relative;
}

.footer__wrap {
  display: -ms-grid;
  display: grid;
  display: grid;
  gap: 70px;
  grid-template-columns: repeat(auto-fit, minmax(136px, 1fr));
  padding: 7.5rem 0;
}

.footer__wrap h3 {
  color: var(--text-primary);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.1111111111;
  margin-bottom: 1.875rem;
}

.footer__logo-svg {
  margin-bottom: 0.9375rem;
}

.footer__logo > p {
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.25;
}

.footer li {
  color: var(--text-primary);
  font-size: 1.125rem;
  line-height: 1.2222222222;
}

.footer li:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.footer__contacts > div:not(:last-child) {
  margin-bottom: 0.625rem;
}

.footer__mail > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}

.footer__author {
  padding: 0.9375rem 0;
  text-align: center;
  position: relative;
}

.footer__author::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
}

.footer__author > p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.content__part {
  position: relative;
  padding-top: 100px;
}

.content__img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.content__img img {
  max-height: 60vh;
}

.about-us {
  padding: 6.25rem 0;
}

.about-us__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.about-us h2 {
  margin-bottom: 1.5625rem;
}

.about-us h2 > i {
  font-size: 1.5625rem;
  color: var(--text-accent);
  display: inline-block;
}

.about-us__img {
  max-width: 540px;
}

.about-us__img img {
  width: 100%;
  height: 100%;
}

.about-us__part p {
  font-size: 1rem;
  margin-bottom: 0.625rem;
}

.about-us__part p:last-of-type {
  margin-bottom: 1.5625rem;
}

.new-product {
  position: relative;
  padding-bottom: 6.25rem;
}

.new-product h2 {
  text-align: center;
  margin-bottom: 1.875rem;
}

.new-product h2 > i {
  font-size: 1.5625rem;
  color: var(--text-accent);
  display: inline-block;
}

.new-product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new-product__slider > .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-top: 40px;
}

.new-product__slider > .swiper-pagination > span {
  display: block;
  width: 5px;
  height: 15px;
  background-color: var(--bg-accent);
  border-radius: 20px;
  opacity: 0.5;
  cursor: pointer;
}

.new-product__slider > .swiper-pagination > span:not(:last-child) {
  margin-right: 10px;
}

.new-product__slider > .swiper-pagination > .swiper-pagination-bullet-active {
  height: 25px;
  opacity: 1;
}

.new-product__slider > .swiper-button-next,
.new-product__slider > .swiper-button-prev {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid var(--text-accent);
  color: var(--text-accent);
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.new-product__slider > .swiper-button-next.swiper-button-disabled,
.new-product__slider > .swiper-button-prev.swiper-button-disabled {
  background-color: transparent;
  color: var(--text-accent);
  cursor: default;
}

.new-product__slider > .swiper-button-prev {
  left: 10%;
}

.new-product__slider > .swiper-button-prev::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.new-product__slider > .swiper-button-next {
  right: 10%;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__icon {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .menu__icon > .menu__circle::before {
    content: "";
    display: block;
    position: absolute;
    left: -0.5rem;
    top: -50%;
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 0.3125rem;
    background-color: var(--accent);
  }

  .menu__body > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    padding: 80px 0;
    margin-right: 0;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }

  .menu__body > ul > li {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
}

@media (max-width: 47.99875em) {
  .menu__icon {
    display: block;
    position: relative;
    z-index: 5;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .menu__icon {
    cursor: default;
  }
}

@media (any-hover: hover) {
  .radius-icon:hover {
    background-color: var(--bg-accent);
    color: #fff;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .call-back__more:hover > i {
    background-color: var(--bg-accent);
    color: #fff;
  }

  .call-back__more > .call-back__content > a:hover {
    color: var(--text-accent);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .call-back:hover .call-back__more {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .call-back:hover > i {
    background-color: var(--bg-accent);
    color: #fff;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .text-content__button:hover {
    border: 1px solid var(--text-title);
    background-color: transparent;
    color: var(--text-primary);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .menu__log:hover {
    color: var(--text-accent);
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
  }

  .menu__body > ul > li:hover {
    background-color: var(--bg-secondary);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .menu__body > ul > li:hover > a > i {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .menu__body > ul > li:hover > ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: -webkit-max-content;
    -ms-grid-columns: max-content;
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
    gap: 0.9375rem;
    padding: 0.9375rem 3.125rem 0.9375rem 0.9375rem;
    border-radius: 0 0 0.9375rem 0.9375rem;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--bg-secondary);
  }

  .header__links-wrap > a:hover {
    color: #fff;
    background-color: var(--bg-inverse);
    border-color: var(--bg-inverse);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .header__links-wrap > a:hover > i {
    color: #fff;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .footer li:hover > a {
    color: var(--text-accent);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .footer__mail:hover i {
    background-color: var(--bg-accent);
    color: #fff;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .new-product__slider > .swiper-button-next:hover,
  .new-product__slider > .swiper-button-prev:hover {
    background-color: var(--text-accent);
    color: #fff;
  }
}

@media (any-hover: hover) and (any-hover: hover) {
  .menu__body > ul > li:hover > ul > li:hover {
    color: var(--text-accent);
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
  }
}