@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,600,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: "Arial-Bold";
  font-display: swap;
  src: url("../fonts/Arial-BoldMT.woff2") format("woff2"), url("../fonts/Arial-BoldMT.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  font-display: swap;
  src: url("../fonts/ArialMT.woff2") format("woff2"), url("../fonts/ArialMT.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=icon-]:before {
  display: block;
}

.icon-seeds:before {
  content: "\e900";
}

.icon-leaf-logo:before {
  content: "\e901";
}

.icon-like:before {
  content: "\e902";
}

.icon-log-out:before {
  content: "\e903";
}

.icon-menu-close:before {
  content: "\e904";
}

.icon-menu-open:before {
  content: "\e905";
}

.icon-search:before {
  content: "\e906";
}

.icon-shopping-cart:before {
  content: "\e907";
}

.icon-sapling:before {
  content: "\e908";
}

.icon-fertilizer:before {
  content: "\e909";
}

.icon-trees:before {
  content: "\e90a";
}

.icon-farmer:before {
  content: "\e90b";
}

.icon-phone:before {
  content: "\e90c";
}

.icon-arrow:before {
  content: "\e90d";
}

.icon-arrow-down:before {
  content: "\e90e";
}

.icon-comparison:before {
  content: "\e90f";
}

.icon-email:before {
  content: "\e910";
}

:root {
  --primary: #0a9396;
  --secondary: #94d2bd;
  --accent: #8C3213;
  --inverse: #E84E0F;
  --bg-primary: #21603F;
  --bg-secondary: #347153;
  --bg-accent: #8D3200;
  --bg-inverse: #E84E0F;
  --text-primary: rgba(0, 0, 0);
  --text-secondary: rgba(255, 255, 255);
  --text-accent: #84BE51;
  --text-title: #1E6140;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--text-primary);
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #F8F8F8;
  max-width: 1920px;
  margin: 0 auto;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  width: 100%;
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  min-width: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.select::before {
  content: "";
  display: block;
  width: 1px;
  min-height: 70%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 45px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.select::after {
  content: "\e90e";
  font-family: icons;
  position: absolute;
  color: rgba(0, 0, 0, 0.2);
  right: 15px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.select__body {
  position: relative;
}

.select__titl {
  min-width: 255px;
  color: #484848;
  text-align: left;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  padding: 10px 60px 10px 20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.select__titl:focus-visible {
  outline: none;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  position: absolute;
  top: 100%;
  border-radius: 10px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select._select-open::after {
  -webkit-transform: rotate(180deg) translate(0, 50%);
      -ms-transform: rotate(180deg) translate(0, 50%);
          transform: rotate(180deg) translate(0, 50%);
}

._select-tag {
  cursor: pointer;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.radius-icon {
  display: inline-block;
  color: var(--accent);
  min-width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid var(--accent);
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.radius-icon::before {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.rotate {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.wing {
  position: absolute;
  bottom: 70px;
  left: -155px;
}

.wing-small {
  position: absolute;
  bottom: 40px;
  left: -100px;
}

.wing-rotate {
  position: absolute;
  top: -110px;
  right: 0;
}

.about-us-wing {
  left: 210px;
  bottom: 190px;
}

.about-us-wing-small {
  bottom: 80px;
  left: 350px;
}

.call-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.375rem;
  font-weight: 400;
  position: relative;
  min-width: 265px;
  cursor: pointer;
  z-index: 2;
}

.call-back__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.call-back__content > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call-back__content > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.call-back__content > button > i {
  font-size: 0.8125rem;
  color: var(--text-accent);
}

.call-back__button {
  color: var(--text-accent);
  font-size: 0.875rem;
  line-height: 1.2142857143;
  font-weight: 700;
}

.call-back__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  gap: 6px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  padding: 10px 5px;
  border-radius: 20px;
  position: absolute;
  top: -10px;
  left: -5px;
  transition: 0.25s;
}

.call-back__more > .call-back__content {
  color: var(--text-primary);
}

.call-back__more > .call-back__content > a {
  padding-top: 10px;
}

.call-back__more > .call-back__content i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.call-back__more:hover > i {
  background-color: var(--bg-accent);
  color: #fff;
}

.call-back__more > .call-back__content > a:hover {
  color: var(--text-accent);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.call-back:hover .call-back__more {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.call-back:hover > i {
  background-color: var(--bg-accent);
  color: #fff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.navigation-button {
  position: fixed;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  background-color: var(--text-accent);
  color: #fff;
  width: 10.3125rem;
  min-height: 4.0625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border-radius: 0 30px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.45s;
  transition: 0.45s;
}

.navigation-button > i {
  padding: 20px;
}

.navigation-button--active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.45s;
  transition: 0.45s;
}

[class*=__title] {
  color: #000;
  font-size: 2.8125rem;
  font-weight: 700;
  line-height: 1.2222222222;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 255px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  padding-bottom: 15px;
}

.product-item__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.product-item > i {
  display: inline-block;
  color: var(--accent);
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
}

.product-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 200px;
  padding: 30px 0;
}

.product-item__img img {
  max-width: 100%;
  max-height: 100%;
}

.product-item__characteristics {
  border-radius: 20px;
  background: rgba(140, 50, 19, 0.06);
  padding: 20px;
}

.product-item__characteristics-title {
  margin-bottom: 1.25rem;
}

.product-item__characteristics-title > h4 {
  color: var(--text-primary);
  font-weight: 600;
  line-height: 1.25;
}

.product-item__characteristics-title > p {
  color: var(--text-title);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2142857143;
}

.product-item__characteristics-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  z-index: 2;
}

.product-item__characteristics-price > p {
  color: var(--text-primary);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2142857143;
}

.product-item__characteristics-price > p > span {
  color: var(--text-accent);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2222222222;
}

.product-item__cart-wrap > i {
  border: 0;
  background-color: #fff;
}

.blur-mask {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 380px;
  height: 380px;
  border-radius: 580px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(231, 78, 19, 0.1) 0%, rgba(231, 78, 19, 0) 100%);
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

.site-map {
  margin-bottom: 8px;
}

.site-map-active a {
  font-weight: 700;
  cursor: default;
}

.site-map ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-map ul li {
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.2222222222;
}

.site-map ul li:not(:nth-child(1)) {
  padding-left: 30px;
}

.site-map ul li:not(:nth-child(1))::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--text-accent);
}

.filter-items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 255px;
          flex: 0 0 255px;
  max-width: 255px;
}

.filter-items__count {
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  margin-bottom: 20px;
  padding-top: 10px;
}

.filter-items__body {
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 20px;
}

.filter-items__type {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.filter-items__type ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.25;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.filter-items__type ul li:not(:last-child) {
  margin-bottom: 20px;
}

.filter-items__type ul li span {
  color: var(--bg-inverse);
  font-weight: 400;
}

.filter-items__char-part {
  position: relative;
}

.filter-items__char-part:not(:last-child)::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}

.filter-items__char-part:last-child ul {
  padding-bottom: 0;
}

.filter-items__char-prod {
  padding: 0 30px 20px 30px;
  border-radius: 0 0 20px 20px;
  background-color: #fff;
}

.filter-items__char-prod h4 {
  padding: 15px 0;
  color: var(--text-primary);
  font-weight: 600;
  line-height: 1.25;
}

.filter-items__char-prod ul {
  padding-bottom: 20px;
  position: relative;
}

.filter-items__char-prod ul li {
  color: rgba(0, 0, 0, 0.5);
}

.filter-items__char-prod ul li:not(:last-child) {
  margin-bottom: 15px;
}

.filter-items__char-prod ul li input,
.filter-items__char-prod ul li label:before,
.filter-items__char-prod ul li label:after {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 0;
  cursor: pointer;
}

.filter-items__char-prod ul li label {
  display: block;
  line-height: 1.25;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

.filter-items__char-prod ul li label:not(:last-child) {
  margin-bottom: 15px;
}

.filter-items__char-prod ul li label::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  border: 1px solid #CCC;
  opacity: 1;
}

.filter-items__char-prod ul li input:checked + label:before {
  border-color: var(--text-accent);
}

.filter-items__char-prod ul li input:checked + label::after {
  content: "";
  display: block;
  height: 9px;
  width: 9px;
  border-radius: 3px;
  background-color: var(--text-accent);
  opacity: 1;
  left: 2px;
}

.filter-items__char h3 {
  padding: 16px 0;
  border-radius: 20px 20px 0 0;
  text-align: center;
  background-color: var(--text-accent);
  color: #fff;
  font-weight: 600;
  line-height: 1.25;
}

.filter-items__active {
  color: var(--text-accent);
  font-weight: 700;
}

@-webkit-keyframes show-menu {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes show-menu {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

.menu__log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  color: var(--text-secondary);
  font-weight: 300;
  line-height: 1.25;
  padding: 0.6875rem 0.625rem;
}

.menu__log > i {
  color: var(--text-accent);
}

.menu__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
  line-height: 1.25;
}

.menu__body > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 74.6153846154%;
          flex: 1 1 74.6153846154%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 50px;
  margin-right: 50px;
}

.menu__body > ul > li {
  position: relative;
  color: var(--text-secondary);
  padding: 11px 10px;
  cursor: pointer;
}

.menu__body > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  font-size: 16px;
}

.menu__body > ul > li > a > i {
  font-size: 0.8125rem;
  color: var(--text-accent);
}

.menu__body > ul > li > ul {
  display: none;
}

.menu__body > ul::after {
  content: "";
  display: block;
  width: 0.0625rem;
  min-height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  right: 0;
}

.menu__icon {
  display: none;
  font-size: 1.25rem;
  color: var(--text-accent);
}

.menu__icon .icon-menu-close::before {
  display: none;
}

.menu__icon .icon-menu-open::before {
  display: block;
}

.menu-open .menu__body > ul {
  visibility: visible;
  right: 0;
  background-color: var(--bg-primary);
}

.menu-open .icon-menu-close::before {
  display: block;
}

.menu-open .icon-menu-open::before {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: radial-gradient(50% 50% at 100% 50%, rgba(231, 78, 19, 0.1) 0%, rgba(231, 78, 19, 0) 100%);
  z-index: 30;
}

.header__nav {
  background-color: var(--bg-primary);
  position: relative;
  z-index: 10;
}

.header__logo {
  position: relative;
}

.header__logo a {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.header__comunications {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.8) 100%);
  padding: 0.9375rem 0;
}

.header__comunications-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__search {
  display: inline-block;
  position: relative;
}

.header__search::after {
  content: "";
  display: block;
  width: 0.0625rem;
  min-height: 70%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 15%;
  right: 51px;
}

.header__search > input {
  padding: 10px 60px 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.header__search > input:focus-visible {
  outline: none;
}

.header__search > button {
  position: absolute;
  right: 1.25rem;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  color: var(--text-accent);
}

.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  cursor: pointer;
}

.header__cart-wrap {
  position: relative;
  display: inline-block;
}

.header__cart-wrap .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  font-size: 0.625rem;
  top: 0;
  right: 0;
  -webkit-transform: translate(0%, -15%);
      -ms-transform: translate(0%, -15%);
          transform: translate(0%, -15%);
  color: #fff;
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: var(--text-accent);
  border-radius: 50%;
  z-index: 1;
}

.header__cart-price {
  color: #000;
  font-size: 0.75rem;
  font-weight: 700;
  margin-left: -8px;
}

.header__links {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.01)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.01) 100%);
  padding-bottom: 0.9375rem;
}

.header__links-wrap {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 196px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__links-wrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 10px;
  border-radius: 1.875rem;
  border: 1px solid var(--text-title);
  font-size: 0.875rem;
  line-height: 1.0714285714;
  font-weight: 600;
  text-transform: uppercase;
}

.header__links-wrap a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.header__links-wrap a span i {
  color: var(--text-accent);
  font-size: 1.5rem;
}

.footer {
  position: relative;
}

.footer__wrap {
  display: -ms-grid;
  display: grid;
  gap: 70px;
  grid-template-columns: repeat(auto-fit, minmax(136px, 1fr));
  padding: 7.5rem 0;
}

.footer__wrap h3 {
  color: var(--text-primary);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.1111111111;
  margin-bottom: 1.875rem;
}

.footer__logo-svg {
  margin-bottom: 0.9375rem;
}

.footer__logo > p {
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.25;
}

.footer li {
  color: var(--text-primary);
  font-size: 1.125rem;
  line-height: 1.2222222222;
}

.footer li:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.footer__contacts > div:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer__mail > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}

.footer__author {
  padding: 0.9375rem 0;
  text-align: center;
  position: relative;
}

.footer__author::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
}

.footer__author > p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.content__part {
  position: relative;
  padding-top: 100px;
}

.content__img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  max-width: 650px;
}

.content__img img {
  max-width: 100%;
  max-height: 100%;
}

.text-content {
  padding-left: 25px;
  max-width: 560px;
}

.text-content > h1 {
  color: var(--text-primary);
  font-weight: 300;
  line-height: 1.2181818182;
  margin-bottom: 1.875rem;
}

.text-content > h1 > span {
  font-weight: 700;
}

.text-content > h1 > i {
  margin-left: -25px;
  font-size: 1.5625rem;
  color: var(--text-accent);
  display: inline-block;
}

.text-content > p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.125rem;
  line-height: 1.2222222222;
  margin-bottom: 1.5625rem;
}

.text-content > p > span {
  color: var(--text-title);
  font-weight: 700;
  line-height: 1.25;
}

.text-content__button {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  line-height: 1.25;
  padding: 15px 50px;
  background: var(--bg-inverse);
  border-radius: 300px;
  border: 1px solid var(--bg-inverse);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.about-us {
  padding: 6.25rem 0;
  position: relative;
}

.about-us__container {
  max-width: 1400px;
}

.about-us__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.about-us h2 {
  margin-bottom: 1.5625rem;
}

.about-us h2 > i {
  font-size: 1.5625rem;
  color: var(--text-accent);
  display: inline-block;
}

.about-us__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about-us__img img {
  max-width: 100%;
  max-height: 100%;
}

.about-us__part {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 540px;
          flex: 0 1 540px;
}

.about-us__part p {
  font-size: 1rem;
  margin-bottom: 0.625rem;
}

.about-us__part p:last-of-type {
  margin-bottom: 1.5625rem;
}

.about-us__blur-mask--right {
  right: -160px;
  top: 20%;
}

.about-us__blur-mask--left-center {
  top: 60%;
  left: -160px;
}

.new-product {
  position: relative;
  padding-bottom: 6.25rem;
}

.new-product h2 {
  text-align: center;
  margin-bottom: 1.875rem;
}

.new-product h2 > i {
  font-size: 1.5625rem;
  color: var(--text-accent);
  display: inline-block;
}

.new-product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new-product__slider > .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-top: 40px;
}

.new-product__slider > .swiper-pagination > span {
  display: block;
  width: 5px;
  height: 15px;
  background-color: var(--bg-accent);
  border-radius: 20px;
  opacity: 0.5;
  cursor: pointer;
}

.new-product__slider > .swiper-pagination > span:not(:last-child) {
  margin-right: 10px;
}

.new-product__slider > .swiper-pagination > .swiper-pagination-bullet-active {
  height: 25px;
  opacity: 1;
}

.new-product__slider > .swiper-button-next,
.new-product__slider > .swiper-button-prev {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid var(--text-accent);
  color: var(--text-accent);
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.new-product__slider > .swiper-button-next.swiper-button-disabled,
.new-product__slider > .swiper-button-prev.swiper-button-disabled {
  background-color: transparent;
  color: var(--text-accent);
  cursor: default;
}

.new-product__slider > .swiper-button-prev {
  left: 10%;
}

.new-product__slider > .swiper-button-prev::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.new-product__slider > .swiper-button-next {
  right: 10%;
}

.new-product__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new-product__button {
  text-align: center;
  padding-top: 50px;
}

.new-product--stock {
  padding: 100px 0;
  background-color: var(--text-title);
}

.new-product--stock h2 {
  color: #fff;
}

.new-product--stock .new-product__slider > .swiper-pagination > span {
  background-color: #fff;
}

.new-product__blur-mask--right-bottom-green {
  right: -170px;
  top: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(132, 190, 81, 0.3) 0%, rgba(210, 230, 189, 0) 100%);
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

.new-product__blur-mask--left-bottom-green {
  left: -170px;
  top: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(132, 190, 81, 0.3) 0%, rgba(210, 230, 189, 0) 100%);
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

.new-product__blur-mask--left {
  left: -160px;
}

.new-product__blur-mask--right {
  right: -160px;
}

.partners {
  position: relative;
  padding: 100px 0;
}

.partners h2 {
  text-align: center;
  margin-bottom: 1.875rem;
}

.partners h2 > i {
  font-size: 1.5625rem;
  color: var(--text-accent);
  display: inline-block;
}

.partners__logo {
  display: inline-block;
  background: white;
  border-radius: 20px;
  padding: 20px 40px;
  height: 126px;
  width: 255px;
}

.partners__logo img {
  height: 100%;
  width: 100%;
}

.partners__slider > .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-top: 40px;
}

.partners__slider > .swiper-pagination > span {
  display: block;
  width: 5px;
  height: 15px;
  background-color: var(--bg-accent);
  border-radius: 20px;
  opacity: 0.5;
  cursor: pointer;
}

.partners__slider > .swiper-pagination > span:not(:last-child) {
  margin-right: 10px;
}

.partners__slider > .swiper-pagination > .swiper-pagination-bullet-active {
  height: 25px;
  opacity: 1;
}

.partners__slider > .swiper-button-next,
.partners__slider > .swiper-button-prev {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid var(--text-accent);
  background-color: var(--text-accent);
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.partners__slider > .swiper-button-prev {
  left: 10%;
}

.partners__slider > .swiper-button-prev::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.partners__slider > .swiper-button-next {
  right: 10%;
}

.partners__blur-mask {
  left: -160px;
}

.happy-farmer {
  position: relative;
  padding: 100px 0;
}

.happy-farmer h2 {
  margin-bottom: 1.875rem;
  color: #fff;
}

.happy-farmer h2 > i {
  font-size: 1.5625rem;
  color: var(--text-accent);
  display: inline-block;
}

.happy-farmer h2 > i:last-of-type {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.happy-farmer__wrap {
  position: relative;
}

.happy-farmer__content {
  max-width: 1110px;
}

.happy-farmer__content > p {
  color: #fff;
  line-height: 1.25;
}

.happy-farmer__content > p:not(:last-child) {
  padding-bottom: 20px;
}

.happy-farmer__more-button {
  display: none;
}

.happy-farmer__more-button--active i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.happy-farmer__max-height {
  max-height: 100% !important;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.catalog {
  position: relative;
}

.catalog .header {
  position: relative;
  margin-bottom: 50px;
}

.catalog .header .blur-mask {
  top: 150px;
  right: -250px;
  -webkit-filter: blur(80px);
          filter: blur(80px);
}

.catalog .plants-protecting {
  position: relative;
  padding-bottom: 120px;
}

.catalog .plants-protecting__blur-mask {
  top: 40%;
  left: -150px;
}

.catalog .plants-protecting h2 {
  text-align: center;
  margin-bottom: 40px;
}

.catalog .plants-protecting h2 i {
  font-size: 1.5625rem;
  color: var(--text-accent);
  display: inline-block;
}

.catalog .plants-protecting__catalog {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(133px, 255px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog .plants-protecting__item {
  position: relative;
  min-height: 164px;
  border-radius: 20px;
  overflow: hidden;
}

.catalog .plants-protecting__item h3 {
  position: absolute;
  display: block;
  width: 100%;
  bottom: -50px;
  color: var(--text-primary);
  text-align: center;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.2272727273;
  padding: 10px 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.catalog .plants-protecting__item:hover {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
}

.catalog .plants-protecting__item:hover h3 {
  bottom: 0px;
}

.catalog .plants-protecting__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  position: relative;
  padding-bottom: 200px;
}

.catalog .plants-protecting__articles {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.catalog .plants-protecting__articles-select {
  margin-bottom: 10px;
  text-align: end;
}

.catalog .plants-protecting__articles-wrap {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 255px));
}

.paginations-plant {
  position: absolute;
  bottom: 120px;
  right: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.paginations-plant .paginations-plant__active {
  background: var(--bg-inverse);
  color: #fff;
}

.paginations-plant span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  color: var(--bg-inverse);
  font-size: 0.875rem;
  line-height: 1.2142857143;
  border-radius: 90px;
  border: 1px solid var(--bg-inverse);
  cursor: pointer;
}

.paginations-plant__left-button {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 20px;
}

.paginations-plant__right-button {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  margin-left: 20px;
}

.text-content__button--mobile {
  display: none;
}

.mobile-icon,
.header__links-wrap .header__links-mobile-show {
  display: none;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 71.25em) {
  .text-content > h1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 1199px) {
  .wing,
  .wing-small,
  .wing-rotate,
  .icon-like {
    display: none;
  }

  .mobile-icon {
    display: inline-block;
  }

  .menu-open .icon-like {
    display: block;
  }

  .menu-open .header__nav {
    background-color: var(--bg-secondary);
  }

  .menu-open .menu__body ul {
    width: 100%;
    margin-top: 40px;
    padding-top: 230px;
    z-index: 10;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 10px;
  }

  .menu-open .menu__body ul i {
    display: none;
  }

  .menu-open .menu__body ul li a {
    font-size: 1.375rem;
    line-height: 1.2272727273;
  }

  .menu-open .header__search {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu-open .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    z-index: 10;
  }

  .menu-open .header__logo svg path:not(:nth-child(22)) {
    fill: #fff;
  }

  .menu-open .header__cart {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .menu-open .header__back-call {
    color: #fff;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
  }

  .menu-open .radius-icon,
  .menu-open .header__cart-price {
    z-index: 10;
    color: #fff;
    border-color: #fff;
  }

  .menu-open .header__cart {
    z-index: 10;
  }

  .menu-open .header__comunications {
    position: relative;
    padding-bottom: 30px;
  }

  .menu-open .header__comunications-wrap {
    gap: 20px;
  }

  .menu-open .header__comunications::after {
    content: "";
    display: block;
    width: 90%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 10;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }

  .header__search,
  .header__back-call {
    display: none;
  }

  .header__links-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    position: relative;
    background-color: var(--bg-inverse);
    border-radius: 20px;
    max-width: 600px;
    margin: 0 auto;
  }

  .header__links-wrap a,
  .header__links-wrap .header__links-mobile-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--bg-inverse);
    border-color: var(--bg-inverse);
    min-height: 42px;
  }

  .header__links-wrap a.mobile-menu,
  .header__links-wrap .header__links-mobile-show.mobile-menu {
    display: none;
  }

  .header__links-wrap a i,
  .header__links-wrap .header__links-mobile-show i {
    color: #fff;
    position: relative;
  }

  .header__links-wrap a span,
  .header__links-wrap .header__links-mobile-show span {
    color: #fff;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .header__links-wrap a span i,
  .header__links-wrap .header__links-mobile-show span i {
    color: #fff;
  }

  .header__links-wrap a.animated-show-menu,
  .header__links-wrap .header__links-mobile-show.animated-show-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: 0.2s linear 0s alternate show-menu forwards;
            animation: 0.2s linear 0s alternate show-menu forwards;
  }

  .header__links-wrap a.animated-show-menu > i,
  .header__links-wrap .header__links-mobile-show.animated-show-menu > i {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__log {
    padding: 10px 0;
  }

  .menu__icon {
    display: block;
    position: relative;
    z-index: 5;
  }

  .menu__icon {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .menu__icon > .menu__circle::before {
    content: "";
    display: block;
    position: absolute;
    left: -0.5rem;
    top: -50%;
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 0.3125rem;
    background-color: var(--accent);
  }

  .menu__body > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    height: 100%;
    padding: 80px 0;
    margin-right: 0;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
  }

  .menu__body > ul > li {
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
  }

  .text-content {
    padding-left: 0;
  }

  .text-content > h1 {
    margin-bottom: 0.9375rem;
  }

  .text-content > h1 > i {
    margin-left: 0;
  }

  .text-content p {
    margin-bottom: 0rem;
  }

  .text-content__button {
    width: 100%;
    max-width: 380px;
    text-align: center;
  }

  .text-content__button--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .content__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }

  .content__container > div {
    padding-bottom: 30px;
  }

  .content__img {
    position: relative;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .content__part {
    padding-left: 25px;
    padding-top: 220px;
  }

  .content__part h1 i {
    margin-left: -25px;
  }

  .content__part .text-content__button {
    display: none;
  }

  .about-us__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about-us__button-wrap {
    text-align: center;
  }

  .partners__logo {
    height: 69px;
    width: 135px;
  }
}

@media (max-width: 1199px) and (any-hover: none) {
  .menu__icon {
    cursor: default;
  }
}

@media (max-width: 991px) {
  .catalog .plants-protecting {
    padding-bottom: 40px;
  }

  .catalog .plants-protecting__catalog {
    display: -ms-grid;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(125px, 130px));
  }

  .catalog .plants-protecting__item {
    min-height: 86px;
  }

  .catalog .plants-protecting__item h3 {
    font-size: 1rem;
    padding: 5px 0;
  }
}

@media (max-width: 768px) {
  .navigation-button {
    max-width: 50px;
    min-height: 50px;
    right: 10px;
    bottom: -5px;
  }

  .header__logo {
    max-width: 106px;
  }

  .header__logo a,
  .header__logo svg {
    width: 100%;
  }

  .about-us h2 > i {
    font-size: 0.875rem;
  }

  .new-product {
    padding-bottom: 40px;
  }

  .new-product h2 > i {
    font-size: 0.875rem;
  }

  .new-product--stock {
    padding: 40px 0;
  }

  .partners,
  .about-us,
  .happy-farmer,
  .footer__wrap {
    padding: 40px 0;
  }

  .partners h2 > i {
    font-size: 0.875rem;
  }

  .happy-farmer {
    padding-bottom: 80px;
  }

  .happy-farmer h2 > i {
    font-size: 0.875rem;
  }

  .footer__logo,
  .footer__contacts {
    -ms-grid-column-span: 3;
    grid-column: span 3;
    max-width: 320px;
  }

  .footer__product {
    -ms-grid-row: 2;
    grid-area: 2;
  }

  .footer li {
    font-size: 16px;
  }

  [class*=__title] {
    font-size: 1.375rem;
    line-height: 1.2272727273;
  }

  .catalog .plants-protecting__nav {
    margin-bottom: 20px;
  }

  .catalog .plants-protecting h2 {
    position: relative;
    max-width: 220px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .catalog .plants-protecting h2 i {
    font-size: 0.875rem;
  }

  .catalog .plants-protecting h2 .rotate {
    position: absolute;
    right: -10px;
    top: 10px;
  }
}

@media (max-width: 640px) {
  [class*=swiper-button-] {
    display: none;
  }

  .partners__logo {
    padding: 10px 20px;
  }

  .happy-farmer__content {
    max-height: 340px;
    overflow: hidden;
  }

  .happy-farmer__more-button {
    display: block;
    position: absolute;
    bottom: -50px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    font-weight: 700;
    line-height: 1.25;
  }

  .happy-farmer__more-button span {
    text-decoration: underline;
  }
}

@media (max-width: 570px) {
  .catalog .header {
    margin-bottom: 1.25rem;
  }

  .menu-open .header__nav {
    background-color: var(--bg-secondary);
  }

  .menu-open .menu__body ul {
    padding-top: 250px;
  }

  .menu-open .header__back-call {
    margin-top: 65px;
  }

  .menu-open .header__cart {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .menu-open .header__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    max-width: 75%;
    width: 100%;
    z-index: 10;
    position: absolute;
    right: 15px;
    top: 90px;
  }

  .menu-open .header__search input {
    width: 100%;
  }

  .menu-open .header .like-wrap {
    display: block;
    position: absolute;
    left: 15px;
    top: 90px;
  }

  .footer__wrap {
    gap: 20px;
  }
}

@media (max-width: 20em) {
  .text-content > h1 {
    font-size: 1.5625rem;
  }
}

@media (min-width: 20em) and (max-width: 71.25em) {
@supports (font-size: clamp( 1.5625rem , 0.8307926829rem  +  3.6585365854vw , 3.4375rem )) {
    .text-content > h1 {
      font-size: clamp( 1.5625rem , 0.8307926829rem  +  3.6585365854vw , 3.4375rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 0.8307926829rem  +  3.6585365854vw , 3.4375rem )) {
    .text-content > h1 {
      font-size: calc(1.5625rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .radius-icon:hover {
    background-color: var(--bg-accent);
    color: #fff;
    -webkit-box-shadow: 0px 0px 20px -5px var(--bg-accent);
            box-shadow: 0px 0px 20px -5px var(--bg-accent);
  }

  .filter-items ul li:hover {
    color: var(--text-accent);
  }

  .menu__log:hover {
    color: var(--text-accent);
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
  }

  .menu__body > ul > li:hover {
    background-color: var(--bg-secondary);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .menu__body > ul > li:hover > a > i {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .menu__body > ul > li:hover > ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: -webkit-max-content;
    -ms-grid-columns: max-content;
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
    gap: 0.9375rem;
    padding: 15px 85px 15px 15px;
    border-radius: 0 0 0.9375rem 0.9375rem;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--bg-secondary);
  }

  .header__links-wrap a:hover {
    background-color: var(--bg-inverse);
    border-color: var(--bg-inverse);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .header__links-wrap a:hover span {
    color: #fff;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .header__links-wrap a:hover span i {
    color: #fff;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .footer li:hover > a {
    color: var(--text-accent);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .footer__mail:hover i {
    background-color: var(--bg-accent);
    color: #fff;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .text-content__button:hover {
    border: 1px solid var(--text-title);
    background-color: transparent;
    color: var(--text-primary);
  }

  .new-product__slider > .swiper-button-next:hover,
  .new-product__slider > .swiper-button-prev:hover {
    background-color: var(--text-accent);
    color: #fff;
  }

  .new-product__button > a:hover {
    border: 1px solid #fff;
    color: #fff;
  }

  .partners__slider > .swiper-button-next:hover,
  .partners__slider > .swiper-button-prev:hover {
    background-color: transparent;
    color: var(--text-accent);
  }
}

@media (any-hover: hover) and (any-hover: hover) {
  .menu__body > ul > li:hover > ul > li:hover {
    color: var(--text-accent);
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
  }
}